.register-container {
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 40rpx;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-box {
  width: 100%;
  background-color: #ffffff;
  border-radius: 20rpx;
  padding: 40rpx;
  box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.05);
}

.title {
  font-size: 48rpx;
  font-weight: bold;
  color: #333;
  margin-bottom: 60rpx;
  text-align: center;
}

.form-item {
  position: relative;
  margin-bottom: 30rpx;
}

.input {
  width: 100%;
  height: 90rpx;
  background-color: #f8f8f8;
  border-radius: 45rpx;
  padding: 0 40rpx;
  font-size: 28rpx;
  color: #333;
  border: 2rpx solid transparent;
  box-sizing: border-box;
}

.input:focus {
  border-color: #007AFF;
  background-color: #ffffff;
}

.eye-icon {
  position: absolute;
  right: 30rpx;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40rpx;
  color: #999;
}

.register-btn {
  width: 100%;
  height: 90rpx;
  background-color: #007AFF;
  color: #ffffff;
  border-radius: 45rpx;
  font-size: 32rpx;
  margin-top: 60rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-btn:active {
  opacity: 0.8;
}

.login-link {
  text-align: center;
  color: #007AFF;
  font-size: 28rpx;
  margin-top: 30rpx;
}

.login-link:active {
  opacity: 0.8;
}